[submodule "client"]
	path = client
	url = https://github.com/BugHunter34/chat-app-client.git
[submodule "server"]
	path = server
	url = https://github.com/BugHunter34/chat-app-server.git
[submodule "blog"]
	path = blog
	url = https://github.com/BugHunter34/chat-app-blog.git
